[submodule "enhancd"]
	path = enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/rbutera/.tmux
[submodule "prezto"]
	path = prezto
	url = https://github.com/rbutera/prezto
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
[submodule ".zprezto-contrib/zsh-z"]
	path = .zprezto-contrib/zsh-z
	url = https://github.com/agkozak/zsh-z
